<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AHT_Buddy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <AHT_Buddy.Properties.Settings>
            <setting name="Technicolor" serializeAs="String">
                <value />
            </setting>
            <setting name="Arris" serializeAs="String">
                <value />
            </setting>
            <setting name="Cisco" serializeAs="String">
                <value />
            </setting>
            <setting name="Dory" serializeAs="String">
                <value />
            </setting>
            <setting name="SMC" serializeAs="String">
                <value />
            </setting>
            <setting name="CxTicket" serializeAs="String">
                <value />
            </setting>
            <setting name="CxName" serializeAs="String">
                <value />
            </setting>
            <setting name="CxAccount" serializeAs="String">
                <value />
            </setting>
            <setting name="CxChronic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CxPhone" serializeAs="String">
                <value />
            </setting>
            <setting name="CxIssue" serializeAs="String">
                <value />
            </setting>
            <setting name="CxResolution" serializeAs="String">
                <value />
            </setting>
            <setting name="CxAttemptNum" serializeAs="String">
                <value />
            </setting>
            <setting name="Notes" serializeAs="String">
                <value />
            </setting>
            <setting name="TechPM" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Email" serializeAs="String">
                <value />
            </setting>
            <setting name="CxAffected" serializeAs="String">
                <value />
            </setting>
            <setting name="CxNextAction" serializeAs="String">
                <value />
            </setting>
            <setting name="ContactRaw" serializeAs="String">
                <value />
            </setting>
            <setting name="Break1" serializeAs="String">
                <value />
            </setting>
            <setting name="Break2" serializeAs="String">
                <value />
            </setting>
            <setting name="Break3" serializeAs="String">
                <value />
            </setting>
            <setting name="Lunch" serializeAs="String">
                <value />
            </setting>
            <setting name="b1ON" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="b1OFF" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="b2ON" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="b2OFF" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="b3ON" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="b3OFF" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LunchON" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LunchOFF" serializeAs="String">
                <value>True</value>
            </setting>
        </AHT_Buddy.Properties.Settings>
    </userSettings>
</configuration>